.loader {
  width: 100vw;
  height: 100vh;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.page__button {
  width: 100%;
}

.planet {
  background-color: black;
  min-width: 100vw;
  min-height: 100vh;

  &__outer {
    min-width: 100vw;
    min-height: 100vh;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  &__text {
    color: white;
    min-height: 100vh;

    &-card {
      max-width: 80%;
      overflow-y: scroll;

      &--residents {
        display: block;
        min-height: 20px;
        max-height: 100px;
        overflow-y: scroll;

        box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.324);

        &::-webkit-scrollbar {
          -webkit-appearance: none;
        }
        &::-webkit-scrollbar:vertical {
          width: 11px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 8px;
          border: 2px solid rgb(92, 92, 92); /* should match background, can't be transparent */
          background-color: rgba(0, 0, 0, 0.153);
        }
      }
    }
  }
}
