.loader {
  width: 100vw;
  height: 100vh;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.planet {
  background-color: black;
  width: 100vw;
  height: 100vh;

  &__outer {
    width: 100vw;
    height: 100vh;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  &__text {
    color: white;
  }
}
