.loader {
  width: 100vw;
  height: 100vh;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.page__button {
  width: 100%;
}

.planet {
  background-color: black;
  min-width: 100vw;
  min-height: 100vh;

  &__outer {
    min-width: 100vw;
    min-height: 100vh;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  &__text {
    color: white;
    min-height: 100vh;

    &-card {
      max-width: 80%;
    }
  }
}
